{% extends 'Blog/base.html' %}
{% load users_tags %}
{% block content %}
    <div class="home-posts">
        <form method="POST">
            {% csrf_token %}
            <div class="content-section">
                <h2 class="content-section__title">Authorization</h2>
                <hr class="content-section__line">
                {% show_form form %}
                <input type="submit" value="Join" class="button">
                <small class="post__date">
                    <a href="{% url 'password_reset' %}" class="post__author">Forgot password?</a>
                </small>
                <hr class="content-section__line">
                <small class="post__date">
                    Need An Account?
                    <a href="{% url 'register' %}" class="post__author"> Sign Up Now</a>
                </small>
            </div>
        </form> 
    </div>
{% endblock %}