{% extends 'Blog/base.html' %}
{% load blog_tags %}
{% block content %}
    {% for post in posts %}
        <div class="content-section">
            <article class="home-post__item">

                <div class="circle-pict__post">
                    <img src="{{ post.author.profile.image.url }}" alt="">
                    <a href="{% url 'user-posts' post.author.username %}" class="post__author">{{ post.author }}</a>
                    <small class="post__date">{{ post.date_posted }}</small>
                </div>
                <hr class="content-section__line">
                <h2 class="post__title"><a class="post-title__link" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
                <p class="post__content">{{ post.content|truncatewords:40  }}</p>
            </article>
        </div>
    {% endfor %}
        <div class="section-pagination">
            {% show_pagination page_obj %}
        </div>
{% endblock %}